{% extends "base.html" %}
{% block title %}leaseman signup{% endblock %}
{% block body %}
<div class="container">
  <form method="post" action ="" class="form-signin">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">회원가입 해주세요!</h1>

    <input type="text" name="id" class="form-control"      placeholder="아이디" required="" autofocus="">

    <input type="password" name="password" class="form-control" placeholder="패스워드" required="">

    <input type="password" name="password_again" class="form-control" placeholder="패스워드 확인" required="">

    <input type="email" name="email" class="form-control" placeholder="이메일 주소" required="">

    <div class="top_margin"></div>
    <label>회원구분</label>
    <select name="user_div" class="form-control">
      <option value="" selected="selected"></option>
      <option value="usr_div_ps">개인</option>
      <option value="usr_div_pscorp">개인사업자</option>
      <option value="usr_div_corp">법인사업자</option>
    </select>
    <input type="text" name="username" class="form-control"      placeholder="회원명" required="" autofocus="">

    <div class="top_margin"></div>
    <label>휴대폰번호</label><span> ('-'제외하여 숫자만 입력하세요)</span>
    <!-- <input type="text" name="cellphone" class="form-control"      placeholder="휴대폰번호" required="" autofocus=""> -->

    <!-- 이거에 집착하지말자 ㅠ -->
    <div class="row">
      <div class="col-xs-4">
        <input type="text" name="cp1" class="form-control" placeholder="010">
      </div>
      <div class="col-xs-4">
        <input type="text" name="cp2" class="form-control" placeholder="1234">
      </div>
      <div class="clo-xs-4">
        <input type="text" name="cp3" class="form-control" placeholder="5678">
      </div>
    </div>

    <div class="top_margin"></div>
    <button type="submit" name="cellphone_auth" class="btn btn-sm btn-primary btn-block">휴대폰번호인증</button>

    <div class="top_margin"></div>
    <label>가입경로</label>
    <select name="regist_channel" class="form-control">
      <option value="" selected="selected"></option>
      <option value="reg_mail">메일수신</option>
      <option value="reg_sms">문자메시지</option>
      <option value="reg_person">지인권유</option>
      <option value="reg_internet">인터넷검색</option>
      <option value="reg_etc">기타</option>
    </select>

    <div class="top_margin"></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">회원가입</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>
</div>
{% endblock %}
